# ESIEE Paris — Data Engineering I — Assignment 2
> Author : Badr TAJINI

**Academic year:** 2025–2026  
**Program:** Data & Applications - Engineering - (FD)   
**Course:** Data Engineering I  

---

# Check retail.events table access with the new user

In [1]:
# After restore: definitive checks and a sample SELECT
# Improved: single-block printing (avoids duplicate output) and a Q1 price lookup
import os
from sqlalchemy import create_engine, text
import pandas as pd
from urllib.parse import quote_plus

def _build_db_url():
    db_url = os.environ.get('DATABASE_URL')
    if db_url:
        return db_url
    user = os.environ.get('PGUSER', 'esiee_reader')
    pwd = os.environ.get('PGPASSWORD', 'azerty123')  # replace with the actual password
    host = os.environ.get('PGHOST', '127.0.0.1')
    port = os.environ.get('PGPORT', '5433')
    db = os.environ.get('PGDATABASE', 'esiee_full')
    if pwd:
        return f"postgresql+psycopg2://{user}:{quote_plus(pwd)}@{host}:{port}/{db}"
    return f"postgresql+psycopg2://{user}@{host}:{port}/{db}"

db_url = _build_db_url()
summary_lines = []
summary_lines.append('Using DB URL (password hidden).')
session_q1 = '789d3699-028e-4367-b515-b82e2cb5225f'
try:
    engine = create_engine(db_url)
    with engine.connect() as conn:
        # small, safe queries
        cnt = conn.execute(text('SELECT count(*) FROM retail.events')).scalar()
        df = pd.read_sql_query('SELECT * FROM retail.events LIMIT 10;', conn)
        q_price = text("SELECT price FROM retail.events WHERE session_id = :sid AND event_type = 'purchase' ORDER BY event_time DESC LIMIT 1")
        price = conn.execute(q_price, {'sid': session_q1}).scalar()
    summary_lines.append(f'retail.events row count = {cnt}')
    if cnt == 0:
        summary_lines.append('Table is empty')
    else:
        summary_lines.append('Table is NOT empty — sample rows below:')
    # print the summary once, then show the dataframe (if any)
    print('\n'.join(summary_lines))
    if cnt != 0:
        display(df)
    print()
    if price is None:
        print(f'Q1 — session {session_q1}: no purchase row found')
    else:
        print(f'Q1 — session {session_q1}: purchase price = {price}')
except Exception as e:
    print('Failed to run sample query or connect to DB:')
    print(e)
    print('\nMake sure PostgreSQL is installed and running, the `pg_restore` step succeeded, and environment variables are set:')
    print('  - export DATABASE_URL=postgresql+psycopg2://user:pass@host:port/db')
    print("  - or set PGHOST, PGPORT, PGDATABASE, PGUSER, PGPASSWORD")

Using DB URL (password hidden).
retail.events row count = 42418541
Table is NOT empty — sample rows below:

,event_time,event_type,session_id,product_id,price
0,2019-10-01 00:00:00+00:00,view,72d76fde-8bb3-4e00-8c23-a032dfed738c,44600062,35.79
1,2019-10-01 00:00:00+00:00,view,9333dfbd-b87a-4708-9857-6336556b0fcc,3900821,33.20
2,2019-10-01 00:00:01+00:00,view,566511c2-e2e3-422b-b695-cf8e6e792ca8,17200506,543.10
3,2019-10-01 00:00:01+00:00,view,7c90fc70-0e80-4590-96f3-13c02c18c713,1307067,251.74
4,2019-10-01 00:00:04+00:00,view,c6bd7419-2748-4c56-95b4-8cec9ff8b80d,1004237,108198.00
5,2019-10-01 00:00:05+00:00,view,0d0d91c2-c9c2-4e81-90a5-86594dec0db9,1480613,908.62
6,2019-10-01 00:00:08+00:00,view,4fe811e9-91de-46da-90c3-bbd87ed3a65d,17300353,380.96
7,2019-10-01 00:00:08+00:00,view,6280d577-25c8-4147-99a7-abc6048498d6,31500053,41.16
8,2019-10-01 00:00:10+00:00,view,ac1cd4e5-a3ce-4224-a2d7-ff660a105880,28719074,102.71
9,2019-10-01 00:00:11+00:00,view,406c46ed-90a4-4787-a43b-59a410c1a5fb,1004545,566.01

Q1 — session 789d3699-028e-4367-b515-b82e2cb5225f: purchase price = 100.39